<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting id="trakt_username" type="text" label="30003" default="Nepřipojeno" enable="false" />
        <setting id="trakt_auth_btn" type="action" label="30004" action="RunPlugin(plugin://plugin.video.streamcontinuum/?action=trakt_auth)" />
        <setting id="trakt_token" type="text" label="" visible="false" default="" />
        <setting id="trakt_client_id" type="text" label="30031" default="" />
        <setting id="trakt_client_secret" type="text" label="30032" option="hidden" default="" />
    </category>
    <category label="30010">
        <setting id="ws_username" type="text" label="30012" default="" />
        <setting id="ws_password" type="text" label="30013" option="hidden" default="" />
        <setting id="ws_token" type="text" label="" visible="false" default="" />
    </category>
    <category label="30020">
        <setting id="autoplay_next" type="bool" label="30022" default="true" />
        <setting id="max_resolution" type="enum" label="30023" lvalues="4K|1080p|720p|SD" default="1" />
    </category>
</settings>
