<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <category label="30000">
        <group label="30001">
            <setting id="trakt_token" type="text" label="30002" default="" visible="false"/>
            <setting id="trakt_username" type="text" label="30003" default="Nepřipojeno" enable="false"/>
            <control type="button" label="30004">
                <action>RunScript(plugin.video.streamcontinuum, action=trakt_auth)</action>
            </control>
        </group>
    </category>
    <category label="30010">
        <group label="30011">
            <setting id="ws_username" type="text" label="30012" default=""/>
            <setting id="ws_password" type="text" label="30013" option="hidden" default=""/>
            <setting id="ws_token" type="text" label="30014" default="" visible="false"/>
        </group>
    </category>
    <category label="30020">
        <group label="30021">
            <setting id="autoplay_next" type="boolean" label="30022" default="true"/>
            <setting id="max_resolution" type="enum" label="30023" values="4K|1080p|720p|SD" default="1"/>
        </group>
    </category>
</settings>
