node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Kodi assets (downloaded from GDrive)
plugin.video.streamcontinuum/resources/icon.png
plugin.video.streamcontinuum/resources/fanart.png
plugin.video.streamcontinuum/resources/media/fanart_tra.png
plugin.video.streamcontinuum/resources/media/fanart_ws.png
plugin.video.streamcontinuum/resources/media/fanart_his.png
